*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    @include size(100%, 100%);
    @include padding(0, 0, 0, 0);
    @include margin(0, 0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Ubuntu', sans-serif;
}

ul {
    li {
        list-style: none;
    }
}

a {
    text-decoration: none!important;
}

button {
    cursor: pointer;
    &:focus {
        box-shadow: none!important;
    }
}
