<!DOCTYPE html>
<html>
	<head>
		{{> includes/layout/head}}
	</head>
	<body class="article">
		{{> includes/layout/navBar}}
		{{!-- {{> includes/layout/startBarbajs}} --}}
		{{> includes/contents/article}}
		{{!-- {{> includes/layout/endBarbajs}} --}}
		{{> includes/layout/footer}}
		{{> includes/layout/scripts}}
	</body>
</html>