<!DOCTYPE html>
<html>
	<head>
		{{> includes/layout/head}}
	</head>
	<body class="contacts">
		{{> includes/layout/navBar}}
	{{!-- 	{{> includes/layout/startBarbajs}} --}}
		{{> includes/heros/contacts}}
		{{> includes/contents/contacts}}
	{{!-- 	{{> includes/layout/endBarbajs}} --}}
		{{> includes/layout/footer}}
		{{> includes/layout/scripts}}
	</body>
</html>
