<!DOCTYPE html>
<html>
	<head>
		{{> includes/layout/head}}
	</head>
	<body class="cookies-policy">
		{{> includes/layout/navBar}}
		{{> includes/contents/cookies-policy}}
		{{> includes/layout/footer}}
		{{> includes/layout/scripts}}
	</body>
</html>
