<!DOCTYPE html>
<html>
	<head>
		{{> includes/layout/head}}
	</head>
	<body class="home">
		{{> includes/layout/navBar}}
		{{> includes/heros/home}}
		{{> includes/contents/home}}
		{{> includes/layout/footer}}
		{{> includes/layout/scripts}}
	</body>
</html>
