<!DOCTYPE html>
<html>
	<head>
		{{> includes/layout/head}}
	</head>
	<body class="interviews">
		{{> includes/layout/navBar}}
		{{!-- {{> includes/layout/startBarbajs}} --}}
		{{> includes/heros/interviews}}
		{{> includes/contents/interviews}}
		{{!-- {{> includes/layout/endBarbajs}} --}}
		{{> includes/layout/footer}}
		{{> includes/layout/scripts}}
	</body>
</html>