<!DOCTYPE html>
<html>
	<head>
		{{> includes/layout/head}}
	</head>
	<body class="article">
		{{> includes/layout/navBar}}
		{{> includes/contents/modem-perfetto}}
		{{> includes/layout/footer}}
		{{> includes/layout/scripts}}
	</body>
</html>