.contacts {
    &__content {
        @include padding(2em, 4em, 4em, 4em);
        @include margin(2em, null, null, null);
        position: relative;
        background-color: map-get($colors, blue_trasparence);
        border-radius: 3px;
        input {
            border-radius: 50px;
        }
        &__title {
            @include margin(null, null, 1em, null);
            .underline {
                border-color: map-get($colors, white);
            }
        }
        #name {
            @media screen and (max-width: map-get($grid-breakpoints, lg)) {
                @include margin(null, null, 1em, null);
            }
        }
        .btn-send {
            @include size(20%, null);
            @include margin(1em, null, null, 0);
            @media screen and (max-width: map-get($grid-breakpoints, lg)) {
                @include size(100%, null);
            }
        }
    }
}
