.home {
    &__content {
        @include padding(0, 0, 2em, 0);
        position: relative;
        .articleBox {
            @include margin(null, null, 1em, null);
        }
        &__title {
            @include margin(null, null, 1em, null);
        }
        &__articles {
            a {
                color: inherit;
            }
        }
        &__interviews {
            text-align: center;
            margin-top: -10.5em;
            .owl-carousel {
                @include size(94%, null);
                @include margin(null, auto, null, auto);
            }
            .owl-item {

                    padding-top: 1em;
                    padding-bottom: 1em;
                
                background-color: rgba(255, 255, 255, .2);
                box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.01),
                0 62px 52px 0 rgba(0, 0, 0, 0.04);
            }
            .owlNavigation {
                @include position(absolute, null, null, null, null);
                @include calc(top, '50% - 1.4em');
                color: transparent;
                &:before,
                &:after {
                    font-family: fontAwesome;
                    font-size: 1.8em;
                    color: #fff;
                }
            }
            .owl-prev {
                @extend .owlNavigation;
                @include position(null, null, null, null, -2em);
                &:before {
                    content: '\f104';
                }
            }
            .owl-next {
                @extend .owlNavigation;
                @include position(null, null, -2em, null, null);
                &:after {
                    content: '\f105';
                }
            }
        }
        &__cta {
            padding-top: 2em;
            padding-right: 5em;
            padding-left: 2em;
            position: relative;
            color: map-get($colors, white);
            @include background('/assets/images/cta.png');
            .btn {
                width: 30%;
            }
        }
    }
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        .embed-responsive {
            @include size(92%, null);
            @include margin(null, auto, null, auto);
        }
    }
    @media screen and (max-width: map-get($grid-breakpoints, lg)) {
        .owl-prev {
            @include position(null, null, null, null, -1.2em);
        }
        .owl-next {
            @include position(null, null, -1.2em, null, null);
        }
    }
}
