.home {
    &__content {
        @include padding(0, 0, 2em, 0);
        position: relative;
        .articleBox {
            @include margin(null, null, 1em, null);
        }
        &__title {
            @include padding(null, null, 1.4em, null);
        }
        &__interviews {
            text-align: center;
            .owl-carousel {
                @include size(94%, null);
                @include margin(null, auto, null, auto);
            }
            .owlNavigation {
                @include position(absolute, null, null, null, null);
                @include calc(top, '50% - 1.4em');
                color: transparent;
                &:before,
                &:after {
                    font-family: fontAwesome;
                    font-size: 1.8em;
                    color: map-get($colors, primary);
                }
            }
            .owl-prev {
                @extend .owlNavigation;
                @include position(null, null, null, null, -2em);
                &:before {
                    content: '\f104';
                }
            }
            .owl-next {
                @extend .owlNavigation;
                @include position(null, null, -2em, null, null);
                &:after {
                    content: '\f105';
                }
            }
        }
        &__cta {
            text-align: center;
            position: relative;
            color: map-get($colors, white);
            background-color: map-get($colors, secondary);
        }
    }
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        .embed-responsive {
            @include size(92%, null);
            @include margin(null, auto, null, auto);
        }
    }
    @media screen and (max-width: map-get($grid-breakpoints, lg)) {
        .owl-prev {
            @include position(null, null, null, null, -1.2em);
        }
        .owl-next {
            @include position(null, null, -1.2em, null, null);
        }
    }
}
