.footer {
    @extend .vertical-center;
    @include size(100%, null);
    @include padding(1em, null, 1em, null);
    color: map-get($colors, white);
    background-color: #EC011E;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    hr {
        background-color: #fff;
    }
    &__logo {
      
    
        img {
            width: 10em;
        }
        p {
            margin:0;
        }
        a {
            color: map-get($colors, white);
            text-decoration: underline!important;
        }
        // text-align: center;
        // @media screen and (max-width: map-get($grid-breakpoints, lg)) {
        //     justify-content: center;
        //     margin-top: 1em;
        //     @include order(3);
        // }
        // @extend .vertical-center;
    }
    &__newsLetter {
        text-align: center;
        position: relative;
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
            margin-top: 1em;
            
        }
        .form-group {
            margin: 0;
        }
        .form-control {
            float: right;
            display: inline-block;
            height: 2.5em;
            background-color: map-get($colors, white);
            border: 0;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-radius: 50px;
        }
        .btn {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            height: 2.5em;
        }
    }
    &__menu {
        text-align: right;
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
           display: none;
            
        }
        li {
            display: inline-block;
            margin-left: 1em;
            font-size: .8em;
            a {
                color: map-get($colors, white);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__copy {
    }
    &__social {
        @extend .vertical-center;
        justify-content: flex-start;
        margin-bottom: .6em;
        // text-align: center;
        // @extend .vertical-center;
        // @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        //     justify-content: flex-end;
        // }
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
            @include order(1);
            justify-content: center;
        }
        ul {
            @include margin(0, 0, 0, 0);
            @include padding(0, 0, 0, 0);
        }
        li {
            @include size(2em, 2em);
            @include margin(null, 1em, null, null);
            display: inline-block;
            position: relative;
            border-radius: 50%;
            &:after,
            &:before {
                @include position(absolute, 0, 0, 0, 0);
                @include transition(.3s all);
                content: "";
                display: block;
                border-radius: 50%;
                border: 1px solid map-get($colors, white);
                background-color: transparent;
            }
            &:hover {
                &:after {
                    @include transform(scale(1.5));
                }
                &:before {
                    @include transform(scale(2));
                    opacity: 0;
                }
            }
            img {
                @include size(2em, null);
            }
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
    .footer {
        &__social {
            text-align: right;
        }
        &__copy {
            text-align: left;
        }
    }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
    .footer {
        &__copy {
            @include margin(null, null, 1em, null);
        }
    }
}
