.footer {
    @extend .vertical-center;
    @include size(100%, null);
    @include padding(2em, null, 1em, null);
    color: map-get($colors, white);
    background-color: #EC011E;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    hr {
        background-color: #fff;
    }
    &__logo {
      
    
        img {
            width: 10em;
        }
        p {
            margin:0;
        }
        a {
            color: map-get($colors, white);
            text-decoration: underline!important;
        }
        
    }
    &__newsLetter {
        text-align: center;
        position: relative;
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
            margin-top: 1em;
            
        }
        .form-group {
            margin: 0;
        }
        .form-control {
            float: right;
            width: 100%;
            display: inline-block;
            height: 2.5em;
            background-color: map-get($colors, white);
            border: 0;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-radius: 50px;
        }
        .btn {
            position: absolute;
            right: .8em;
            top: 0;
            display: inline-block;
            height: 2.5em;
        }
    }
    &__menu {
        text-align: right;
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
           display: none;
            
        }
        li {
            display: inline-block;
            margin-left: 1em;
            font-size: .8em;
            a {
                color: map-get($colors, white);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__copy {
    }
    
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
    .footer {
        &__social {
            text-align: right;
        }
        &__copy {
            text-align: left;
        }
    }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
    .footer {
        &__copy {
            @include margin(null, null, 1em, null);
        }
    }
}
