.hero {
    @extend .vertical-center;
    @include size(100%, 32em);
    // &__box {
    //     @include size(60%, null);
    //     @include margin(null, auto, null, auto);
    //     @include padding(2em, 0, 2em, 0);
    //     border-radius: 5px;
    //     background-color: map-get($colors, black_transparence);
    //     @media screen and (max-width: map-get($grid-breakpoints, lg)) {
    //         @include size(100%, null);
    //     }
    // }
    &--home {
        @include background('/assets/images/heros/home.jpg');
        color: map-get($colors, white);
        a {
            color: map-get($colors, white);
        }
        &__title {
            font-size: 3em;
            
        }
        &__subTitle {
        }
        &__description {
          
            font-family: 'PT Sans', sans-serif;
        }
    }
    &--contacts {
        @include background('/assets/images/heros/contacts.jpg');
        color: map-get($colors, white);
        text-align: center;
        // .hero__box {
        //     @include padding(2em, 2em, 2em, 2em);
            // @include margin(null, null, 2em, null);
        // }
        
        .btn{
            @include margin(null, 1em, null, 1em);
        }
    }
    &--interviews {
        @include background('/assets/images/heros/interviews.jpg');
        color: map-get($colors, white);
    }
    &--blog {
        @include background('/assets/images/heros/blog.jpg');
        color: map-get($colors, white);
    }
}
