.hero {
    @extend .vertical-center;
    @include size(100%, 36em);
    &__box {
        @include size(60%, null);
        @include margin(null, auto, null, auto);
        @include padding(2em, 0, 2em, 0);
        border-radius: 5px;
        background-color: map-get($colors, black_transparence);
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
            @include size(100%, null);
        }
    }
    &--home {
        @include background('/assets/images/heros/home.jpg');
        text-align: center;
        color: map-get($colors, white);
        &__title {
            font-size: 3em;
            font-weight: bold;
        }
        &__subTitle {
            font-weight: 600;
        }
        &__description {
            font-weight: 600;
        }
    }
    &--contacts {
        .hero__box {
            @include padding(3em, 0, 3em, 0);
        }
        @include background('/assets/images/heros/contacts.jpg');
        @include size(100%, 100vh);
        color: map-get($colors, white);
        &__title {
            @include padding(null, null, 1em, null);
        }
        .btn-secondary {
            @include margin(null, 1em, null, 1em);
        }
    }
    &--interviews {
        @include background('/assets/images/heros/interviews.jpg');
        color: map-get($colors, white);
    }
    &--blog {
        @include background('/assets/images/heros/blog.jpg');
        color: map-get($colors, white);
    }
}
