#newsLetter {
    background-color: map-get($colors, blue_transparence);
    .modal-content {
        @include padding(1em, 3em, 1em, 3em);
        color: map-get($colors, white);
        background-color: map-get($colors, blue)!important;
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
            @include padding(1em, 1em, 1em, 1em);
        }
    }
    .modal-header,
    .modal-footer {
        border: 0;
    }
    .modal-header {
        .close {
            @include size(1.2em, 1.2em);
            @include position(absolute, .2em, .2em, null, null);
            border: 1px solid map-get($colors, white);
            outline: none;
            border-radius: 50%;
            color: map-get($colors, white);
            span {
                @include position(absolute, 0, null, null, .25em);
            }
        }
    }
    .modal-body {
        .form-group {
            @include margin(2em, null, null, null);
            position: relative;
            .form-control {
                border-radius: 50px;
                &:focus {
                    border-color: map-get($colors, gray_2);
                }
            }
            .btn-secondary {
                @include position(absolute, 0, 0, null, null);
            }
        }
    }
}
