.navBar {
    @extend .vertical-center;
    @include size(100%, 5em);
    @include position(absolute, 0, 0, 0, null);
    @include transition(.3s ease);
    z-index: 9;
    color: map-get($colors, white);
    background-color: rgba(255, 255, 255, .1);
    &__logo {
        float: left;
        display: inline-block;
        h3 {
            @include margin(0, 0, 0, 0);
            a {
                color: map-get($colors, white);
            }
        }
    }
    &__menu {
        float: right;
        display: inline-block;
        ul {
            @include padding(.5em, null, null, null);
            @include margin(0, 0, 0, 0);
            li {
                @include margin(null, null, null, 2em);
                display: inline-block;
                a {
                    color: map-get($colors, white);
                    position: relative;
                    &:after {
                        @include size(100%, 1em);
                        @include transform(scale(0, 1));
                        @include position(absolute, null, null, -.3em, 0);
                        @include transition-transform(opacity 0.35s, transform 0.35s) content: '';
                        display: inline-block;
                        border-bottom: 1px solid;
                        opacity: 0;
                    }
                    &:hover {
                        &:after {
                            @include transform(scale(1));
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__hamburger {
        float: right;
        display: inline-block;
        &--arrow {
            &.is-active {
                .hamburger-inner {
                    &:before {
                        @include transform(translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1));
                    }
                    &:after {
                        @include transform(translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1));
                    }
                }
            }
        }
        .hamburger-box {
            @include size(35px, 24px);
            display: inline-block;
            position: relative;
            .inner {
                @include size(35px, 4px);
                @include position(absolute, null, null, null, null);
                @include transition(ease 0.15s);
                display: block;
                border-radius: 4px;
                background-color: map-get($colors, white);
            }
            .hamburger-inner {
                @extend .inner;
                @include margin(2px, null, null, null);
                @include position(null, 50%, null, null, null);
                &:before,
                &:after {
                    @extend .inner;
                    content: "";
                }
                &:before {
                    @include position(null, -8px, null, null, null);
                }
                &:after {
                    @include position(null, null, null, -8px, null);
                }
            }
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, lg)) {
    .navBar {
        &__hamburger {
            display: none;
        }
    }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
    .navBar-social {
        display: none;
    }
    .navBar {
        background-color: map-get($colors, primary);
        .container {
            @include size(100%, null);
        }
        &__menu {
            @include size(100%, 100vh);
            @include position(fixed, 4.6em, 0, 0, null);
            display: inline-block;
            float: none;
            display: none;
            background-color: map-get($colors, secondary);
            ul {
                @include margin(0, 0, 0, 0);
                @include padding(0, 0, 0, 0);
                li {
                    @include padding(1.2em, 1em, 1.2em, 1em);
                    @include margin(0, 0, 0, 0);
                    display: block;
                    border-bottom: 1px solid map-get($colors, white);
                    &:after {
                        content: '\f054';
                        font-family: fontAwesome;
                        @include position(absolute, null, 1em, null, null);
                    }
                    a {
                        font-size: 1.2em;
                        font-weight: 600;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
