<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer__copy">
				<small>© Corptape 2017</small>
			</div>
			<div class="col-lg-4 footer__newsLetter">
				<div class="form-group">
				   <button class="btn btn-send cl-primary">
				    	<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
				    </button>
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Isciviti alla nostra newsLetter">
				    
				 </div>
			</div>
			<div class="col-lg-4 footer__social">
				<ul>
					<li><a href="https://www.facebook.com/Corptape/"><img src="/assets/images/social/facebook.png"></a></li>
					<li><a href=""><img src="/assets/images/social/googleplus.png"></a></li>
					<li><a href=""><img src="/assets/images/social/twitter.png"></a></li>
					<li><a href=""><img src="/assets/images/social/instagram.png"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>