<meta charset="utf-8">
<title>Corptape</title>
<meta name="description" content="Rivista startup, tech e digital, raccontiamo le storie di startup e aziende attroverso video-interviste dedicate" />
<meta name="keywords" content="Rivista, magazine, startup, early stage, tech, digital, story, storie di startup, aziende, company, video-interviste, video, rivista startup " />
<meta name="author" content="Luca Spezzano" />
<meta name="copyright" content="Corptape" />
<meta name="robots" content="index,follow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:url" content="" />
<meta property="og:title" content="Corptape" />
<meta property="og:description" content="Rivista startup, tech e digital. Raccontiamo le storie di startup e aziende attroverso video-interviste dedicate" />
<meta property="og:image" content="" />
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|PT+Sans:400,700" rel="stylesheet">

<link rel="stylesheet" type="text/css" href=".././vendors/components-font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/vendors/animate.css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/owl.carousel/dist/assets/owl.theme.default.min.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">

 <script src="https://www.google.com/recaptcha/api.js" async defer></script>


