<title>CorpTape</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="./vendors/components-font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/vendors/animate.css/animate.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/owl.carousel/dist/assets/owl.theme.default.min.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.min.css">