<!-- Modal -->
<div class="modal fade" id="newsLetter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Iscriviti alla nostra newsletter</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Riceverai periodicamente contenuti che ti terranno aggiornato sul mondo delle startup</p>
        <form action="//corptape.us13.list-manage.com/subscribe/post?u=d8bccbd0e5dcefc4d30a39adb&amp;id=36b2151995" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group" id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Isciviti alla nostra newsletter" required>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_d8bccbd0e5dcefc4d30a39adb_36b2151995" tabindex="-1" value="">
              </div>
            <input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>