<div class="navBar">
	<div class="container">
		<div class="navBar__logo">
			<h3><a href="/index.html">Corptape</a></h3>
		</div>
		<div class="navBar__menu">
			<ul>
				<li><a href="/interviews.html">Interviste</a></li>
				<li><a href="/blog.html">Blog</a></li>
				<li><a href="/contacts.html">Contattaci</a></li>
			</ul>
		</div>
		<div class="navBar__hamburger navBar__hamburger--arrow" onclick="App.openMenuNav(this)">
			<div class="hamburger-box">
				<span class="hamburger-inner"></span>
			</div>
		</div>
	</div>
</div>

