$colors: ( 
	white: #FFFFFF, 
	white_transparence: rgba(255,255,255,.8),
	white_transparence_1: rgba(255,255,255,.2),
	black: #000000,
	black_transparence: rgba(0,0,0,.8),
	primary: #EC011E,
	secondary: #A31013,
	blue: #2D3A46,
	blue_trasparence: rgba(45, 58, 70, .8),
	gray: #DDDDDD,
	gray_1: #999999,
	gray_2: #bfbfbf,
	gray_3: grey,
);