$colors: ( 
	white: #FFFFFF, 
	white_transparence: rgba(255,255,255,.8),
	black: #000000,
	black_transparence: rgba(0,0,0,.8),
	primary: #F02932,
	secondary: #f35860,
	gray: #DDDDDD,
	gray_1: #999999,
	gray_2: #bfbfbf,
	gray_3: grey,
);