<div class="blog__content">
	<div class="container text-center">
		<div class="row text-left">
			<div class="col-lg-4">
				<div class="articleBox load">
					<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog1.jpg')"></div>
					<div class="articleBox__content">
						<h4 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
						</h4>
						<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
						
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog2.jpg')"></div>
					<div class="articleBox__content">
						<h4 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
						</h4>
						<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
						
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog3.jpg')"></div>
					<div class="articleBox__content">
						<h4 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
						</h4>
						<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
						
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog3.jpg')"></div>
					<div class="articleBox__content">
						<h4 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
						</h4>
						<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
						
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog2.jpg')"></div>
					<div class="articleBox__content">
						<h4 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
						</h4>
						<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
						
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog1.jpg')"></div>
					<div class="articleBox__content">
						<h4 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
						</h4>
						<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
						
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog1.jpg')"></div>
					<div class="articleBox__content">
						<h4 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
						</h4>
						<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
						
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" id="loadMore">Load More</button>
	</div>
</div>