<div class="blog__content">
	<div class="container text-center">
		<div class="row text-left">
			<div class="col-lg-4">
				<div class="articleBox load">
					<a href="/articles/coworking.html">
						<div class="articleBox__header" style="background-image: url('/assets/images/articles/coworking.jpg')"></div>
						<div class="articleBox__content">
							<h4 class="articleBox__content__title">COS’È UN COWORKING?
							</h4>
							<p class="articleBox__content__description">Sappiamo un po’ tutti cos’è un Coworking, se ne sente parlare spesso e ci capita ancora più spesso conoscere persone che lavorano all’interno di uno di essi. Ma di cosa si tratta? Invece di supporre e leggere articoli online siamo andati direttamente a visitarne uno per farcelo raccontare da Fabio Sferruzzi, CEO di Talent Garden Torino.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<a href="/articles/ilModemPerfetto.html">
						<div class="articleBox__header" style="background-image: url('/assets/images/articles/modem-perfetto.jpg')"></div>
						<div class="articleBox__content">
							<h4 class="articleBox__content__title">ALLA RICERCA DEL “MODEM” PER IL NOSTRO UFFICIO 
							</h4>
							<p class="articleBox__content__description">Ovunque andiamo è presente una rete per connettersi a internet, soprattutto all’estero, dove ogni attività commerciale fornisce il proprio canale di accesso alla rete, anche in Italia piano piano ci stiamo muovendo in questa direzione. Quando si avvia un’attività, però, non si può sempre fare affidamento agli hotspot disseminati per la città. Sarebbe bello lavorare con il proprio portatile al bar davanti a una bella tazza di caffè, ma quello di cui abbiamo bisogno per lavorare è di una connessione stabile che possiamo controllare completamente. Per fare questo servono due elementi essenziali: un provider che fornisca il servizio e l’hardware che ci permetta di usufruire del servizio. Oggi ci occupiamo di hardware.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<a href="/articles/migliorToolStartup.html">
						<div class="articleBox__header" style="background-image: url('/assets/images/articles/google-app-work.jpg')"></div>
						<div class="articleBox__content">
							<h4 class="articleBox__content__title">IL MIGLIOR TOOL PER STARTUP
							</h4>
							<p class="articleBox__content__description">Il miglior tool per startup… non è affatto facile decidere. Questa è la storia di come abbiamo trovato quello che secondo noi è il miglior tool in assoluto: non appena abbiamo cominciato a cercare un sistema per gestire la mail di dominio (es: tuonome@nomeazienda.com) abbiamo scoperto Google App For Work, e abbiamo non solo registrato il dominio e cominciato ad utilizzare gmail per tutte le nostre mail aziendali, ma abbiamo anche scoperto l’infinito potenziale di questo strumento, ma andiamo per gradi.</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<a href="/articles/erasmusPerGiovaniImprenditori.html">
						<div class="articleBox__header" style="background-image: url('/assets/images/articles/erasmus-per-imprenditori.png')"></div>
						<div class="articleBox__content">
							<h4 class="articleBox__content__title">ERASMUS PER GIOVANI IMPRENDITORI
							</h4>
							<p class="articleBox__content__description">Erasmus for young entrepreneurs è un progetto di scambio dell’Unione Europea che permette a due imprenditori (uno con e uno senza esperienza) di lavorare assieme per implementare il loro business. Un imprenditore con esperienza da la sua disponibilità per ospitare un neo-imprenditore allo scopo di aiutarlo col suo nuovo business</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="articleBox load">
					<a href="/articles/comeTrovareEmail.html">
						<div class="articleBox__header" style="background-image: url('/assets/images/articles/come-trovare-email.png')"></div>
						<div class="articleBox__content">
							<h4 class="articleBox__content__title">COME TROVARE LA MAIL DI CHIUNQUE</h4>
							<p class="articleBox__content__description">Molto spesso dobbiamo contattare persone appartenenti a diverse aziende, riviste o organizzazioni, il metodo più veloce e più utilizzato è la mail. Non sempre però, la mail della persona interessata è così semplice da trovare. A volte non basta visitare il sito e andare nella sezione contatti. Esiste un metodo più efficace in questi casi:</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" id="loadMore">Load More</button>
	</div>
</div>