<div class="container container--article">

	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aaPKSeTLMYU?showinfo=0" allowfullscreen></iframe>
	</div> 

	<h1 class="article__title">Cos’è un Coworking?</h1>

	<div class="article__author">
		<div class="article__author__pic" style="background-image: url(/assets/images/authors/daniele.jpg)"></div>
		<h6 class="article__author__name"> Daniele</h6>
		<h6 class="article__author__category">| Interviste</h6>
		<h6 class="article__author__date">| 15 maggio, 2017</h6>
	</div>

	<p class="article__text">
		Sappiamo un po’ tutti cos’è un Coworking, se ne sente parlare spesso e ci capita ancora più spesso conoscere persone che lavorano all’interno di uno di essi. Ma di cosa si tratta? Invece di supporre e leggere articoli online siamo andati direttamente a visitarne uno per farcelo raccontare da Fabio Sferruzzi, CEO di Talent Garden Torino.
	</p>

	<p class="article__text">
		A un veloce sguardo, è un luogo condiviso di lavoro, dove è possibile affittare un ufficio o anche solo una scrivania e poter lavorare da li. E’ sicuramente un sistema molto pratico ma soprattutto comodo per abbattere i costi e fare networking, ma soffermandosi un attimo è molto di più.
	</p>
	
	<p class="article__cit">
		A chi è adatto un coworking? La risposta a questa domanda ci ha colpito e pensiamo sia il punto focale di queste realtà.
	</p>
	
	<div class="article__share">
		<i class="fa fa-share-alt-square" aria-hidden="true"></i>Share on
		<ul>
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=www.corptape.com"><img src="/assets/images/social/facebook.png"></a></li>
			<li><a href="https://plus.google.com/share?url=www.corptape.com"><img src="/assets/images/social/googleplus.png"></a></li>
		</ul>
	</div>
	
</div>