<div class="container container--article">
	
	<div class="row">
		<div class="col-lg-6">
			<div class="embed-responsive embed-responsive-16by9">
		  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P1SPy-rIlzw?showinfo=0" allowfullscreen></iframe>
			</div> 
		</div>
		<div class="col-lg-6">
			<div class="embed-responsive embed-responsive-16by9">
		  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S3cBaCsNEgY?showinfo=0" allowfullscreen></iframe>
			</div> 
		</div>
	</div>

	<h1 class="article__title">Erasmus per Giovani Imprenditori</h1>

	<div class="article__author">
		<div class="article__author__pic" style="background-image: url(/assets/images/authors/daniele.jpg)"></div>
		<h6 class="article__author__name"> Daniele</h6>
		<h6 class="article__author__category">| Interviste</h6>
		<h6 class="article__author__date">| 12 giugno, 2017</h6>
	</div>

	<p class="article__text">
		Erasmus for young entrepreneurs è un progetto di scambio dell’Unione Europea che permette a due imprenditori (uno con e uno senza esperienza) di lavorare assieme per implementare il loro business.
	</p>

	<h2 class="article__title">Come funziona nella pratica?</h2>

	<p class="article__text">
		Un imprenditore con esperienza da la sua disponibilità per ospitare un neo-imprenditore allo scopo di aiutarlo col suo nuovo business e trasmettergli quanto più possibile della propria esperienza acquisita negli anni sul campo. In cambio, il nuovo imprenditore offrirà il suo apporto all’azienda ospitante in base alle proprie capacità e conoscenze.
	</p>

	<p class="article__text">
		Viene scritto un accordo tra i due imprenditori dove ognuno indica in che modo porterebbe un valore aggiunto all’altro, gli obiettivi che ognuno si pone e come intende raggiungerli.
	</p>

	<h2 class="article__title">Come funziona nella pratica?</h2>

	<p class="article__text">
		Un imprenditore con esperienza da la sua disponibilità per ospitare un neo-imprenditore allo scopo di aiutarlo col suo nuovo business e trasmettergli quanto più possibile della propria esperienza acquisita negli anni sul campo. In cambio, il nuovo imprenditore offrirà il suo apporto all’azienda ospitante in base alle proprie capacità e conoscenze.
	</p>

	<p class="article__text">
		Viene scritto un accordo tra i due imprenditori dove ognuno indica in che modo porterebbe un valore aggiunto all’altro, gli obiettivi che ognuno si pone e come intende raggiungerli.
	</p>

	<h2 class="article__title">Quanto costa?</h2>

	<p class="article__text">
		Lo scambio non ha un costo. L’imprenditore ospitante (con esperienza) non sostiene alcun costo per lo scambio con l’altro imprenditore, mentre il neo imprenditore (colui che parte) ha diritto ad un rimborso delle spese che sostiene per affrontare il viaggio che varia da 700 a 900 Euro a seconda della destinazione, puoi consultare tutti i rimborsi a questo link.
	</p>

	<h2 class="article__title">Quali sono le mete?</h2>

	<p class="article__text">
		Nel progetto Erasmus for Young Entrepreneurs, le mete selezionabili sono in tutto 30. Sono compresi tutti i paesi dell’Unione Europea più altri paesi come Albania, Armenia e molti altri.
	</p>

	<h2 class="article__title">Quanto dura?</h2>

	<p class="article__text">
		La durata dello scambio può variare (a seconda della volontà degli imprenditori) da 1 a 6 mesi. I mesi possono anche essere non continuativi a patto che non si superino 12 mesi in totale.
	</p>

	<h2 class="article__title">Come posso aderire?</h2>

	<h4 class="article__title">Per neo imprenditori</h4>

	<p class="article__text">
		Qualora tu sia l’imprenditore in partenza, tutto quello che devi fare è avere in mente un’idea imprenditoriale, di qualunque tipo. Sono ben accette le idee innovative, ma non è un fattore vincolante. Quello che dovrai fare ora è contattare il tuo ente di riferimento <a href="http://www.erasmus-entrepreneurs.eu/page.php?cid=5">qui</a>, e metterti d’accordo con loro per la stesura del materiale che ti servirà, i tuoi documenti e un business plan dell’idea.
	</p>

	<p class="article__text">
		Non preoccuparti se non ne hai mai redatto uno, è semplicemente un documento dove viene richiesto di raccontare la tua idea. Se hai già individuato una sede per essa e che tipo di spese avevi messo in conto di fare per avviarla. E’ una presentazione dell’idea, più che dell’impresa, quindi anche la sua stesura sarà di limitata difficoltà.
	</p>

	<p class="article__text">
		*Unico requisito dell’imprenditore in partenza è che non abbia ancora aperto la partita iva.*
	</p>
	
	<h5 class="article__title">Per imprenditori esperti</h5>

	<p class="article__text">
		Qualora voleste attivare uno scambio con un neo-imprenditore tutto quello che devi fare è aprire <a href="http://www.erasmus-entrepreneurs.eu/upload/HE%20registration%20guide%20-%20FINAL.pdf">qui </a>la guida e seguire le istruzioni per registrarsi sul portale compilando i dati richiesti e inserendo i tuoi dati personali e aziendali, indicando inoltre una preferenza per la persona da accogliere, in termini di nazionalità di provenienza, esperienza e settore di interesse.
	</p>

	<p class="article__text">
		*L’imprenditore ospitante può ospitare al massimo una persona alla volta, ma può ripetere lo scambio quante volte vorrà*

	</p>

	<p class="article__text">
		Grazie a questo progetto abbiamo visto prendere vita moltissime collaborazioni di startup e aziende di diverso tipo e natura. Per moltissime startup o PMI è un sistema a costo zero di sondare e testare il mercato estero e avere un partner di riferimento nell’imprenditore ospitante.
	</p>

	<p class="article__text">
		Per tutte le info vai al <a href="http://www.erasmus-entrepreneurs.eu/">sito</a> di Erasmus for Young Entrepreneur
	</p>
	
	<div class="article__share">
		<i class="fa fa-share-alt-square" aria-hidden="true"></i>Share on
		<ul>
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=www.corptape.com"><img src="/assets/images/social/facebook.png"></a></li>
			<li><a href="https://plus.google.com/share?url=www.corptape.com"><img src="/assets/images/social/googleplus.png"></a></li>
		</ul>
	</div>
	
</div>