<div class="home__content">
	<section class="home__content__interviews">
		<div class="container">
			
			<div class="owl-carousel">
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NBOb_1T5Bbo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P1SPy-rIlzw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kiJoTBNfQc8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Qm5jtgVJqc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aaPKSeTLMYU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lppvVBz2zW0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				
			</div>
		</div>
	</section>
	<div class="box">
		<div class="box--left">
			
			<div class="overlay">
				<div class="text">
					<h1>Che lavoro fai?</h1>
					<p>Raccontiamo storie di startup e aziende attraverso video-interviste dedicate</p>
				</div>
			</div>
		</div>
	
		<div class="box--right">
			<div class="overlay">
				<div class="text">
					<h1>Che cos'è?</h1>
					<p>Raccontiamo storie di startup e aziende attraverso video-interviste dedicate</p>
				</div>
			</div>
		</div>
	</div>

	
	
	<section class="home__content__articles">
		<div class="container text-center">
			<h2 class="home__content__title">Le ult<span class="underline">ime da</span>l blog</h2>
			<div class="row text-left">
				<div class="col-lg-4 ">
					<a href="#">
						<div class="articleBox">
							<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog1.jpg')"></div>
							<div class="articleBox__content">
								<h3 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
								</h3>
								<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 ">
					<a href="#">
						<div class="articleBox">
							<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog3.jpg')"></div>
							<div class="articleBox__content">
								<h3 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
								</h3>
								<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
								
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 ">
					<a href="#">
						<div class="articleBox">
							<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog2.jpg')"></div>
							<div class="articleBox__content">
								<h3 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
								</h3>
								<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<a href="/interviews.html" class="btn btn-primary m-t-2">Guarda tuttle le interviste</a>
		</div>
	</section>

	<section class="container cta">
		<div class="row">
			<div class="col-lg-4 offset-lg-2">
				<h3 class="cta__title">Ciao sono il titolo ciao e doraj?</h3>
			</div>
			<div class="col-lg-6">
				<p class="cta__subTitle">Ciao sono il sottotitolo e sono un pò più lungo vediCiao sono il sottotitolo e sono un pò più lungo vedi?Ciao sono il sottotitolo e sono un pò più lungo vedi??</p>
			</div>
		</div>
		
	</section>

	<section class="full-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="pic"></div>
				</div>
				<div class="col-lg-6">
					<h3 class="title">Da una delle nostre interviste</h3>
					<div class="text">
						<p>" Un coworking è un luogo dove tamte persone con personalità differenti condividono uno spazio, ma non solo, condividono opportunità di lavoro, passioni, momenti di condivisioni. che possono essere anche solo legati alla vita personale o professionale "
						</p>
						<p class="float-right bold">-Fabio Sferruzzi</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</div>
