<div class="home__content">

	<section class="home__content__interviews">
		<div class="container">
			<div class="owl-carousel">
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Qm5jtgVJqc?list=PLzpir_ZDpyI7YJxlr6KZISMDkqMGZzxFh&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aaPKSeTLMYU?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/adwHq8H5ZoQ?list=PLzpir_ZDpyI7YJxlr6KZISMDkqMGZzxFh&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OhjVM-zEEvU?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="embed-responsive embed-responsive-16by9" style="width: 90%; margin: 0 auto;">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kiJoTBNfQc8?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>

	<div class="box">
		<a href="https://www.youtube.com/playlist?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY" target="_blank">
			<div class="box--left">
				<div class="overlay">
					<div class="text">
						<h1>Cos’è?</h1>
						<p>Questa rubrica racconta dei player e degli scenari del mondo startup</p>
					</div>
				</div>
			</div>
		</a>
		<a href="https://www.youtube.com/playlist?list=PLzpir_ZDpyI7YJxlr6KZISMDkqMGZzxFh" target="_blank">
			<div class="box--right">
				<div class="overlay">
					<div class="text">
						<h1>Che lavoro fai?</h1>
						<p>La rubrica che parla dei lavori del mondo delle startup</p>
					</div>
				</div>
			</div>
		</a>
	</div>
	
	<section class="home__content__articles">
		<div class="container text-center">
			<h2 class="home__content__title">Le ult<span class="underline">ime da</span>l blog</h2>
			<div class="row text-left">
				<div class="col-lg-4">
					<div class="articleBox load">
						<a href="/articles/coworking.html">
							<div class="articleBox__header" style="background-image: url('/assets/images/articles/coworking.jpg')"></div>
							<div class="articleBox__content">
								<h4 class="articleBox__content__title">COS’È UN COWORKING?
								</h4>
								<p class="articleBox__content__description">Sappiamo un po’ tutti cos’è un Coworking, se ne sente parlare spesso e ci capita ancora più spesso conoscere persone che lavorano all’interno di uno di essi. Ma di cosa si tratta? Invece di supporre e leggere articoli online siamo andati direttamente a visitarne uno per farcelo raccontare da Fabio Sferruzzi, CEO di Talent Garden Torino.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="articleBox load">
						<a href="/articles/migliorToolStartup.html">
							<div class="articleBox__header" style="background-image: url('/assets/images/articles/google-app-work.jpg')"></div>
							<div class="articleBox__content">
								<h4 class="articleBox__content__title">IL MIGLIOR TOOL PER STARTUP
								</h4>
								<p class="articleBox__content__description">Il miglior tool per startup… non è affatto facile decidere. Questa è la storia di come abbiamo trovato quello che secondo noi è il miglior tool in assoluto: non appena abbiamo cominciato a cercare un sistema per gestire la mail di dominio (es: tuonome@nomeazienda.com) abbiamo scoperto Google App For Work, e abbiamo non solo registrato il dominio e cominciato ad utilizzare gmail per tutte le nostre mail aziendali, ma abbiamo anche scoperto l’infinito potenziale di questo strumento, ma andiamo per gradi.</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="articleBox">
						<a href="/articles/comeTrovareEmail.html">
							<div class="articleBox__header" style="background-image: url('/assets/images/articles/come-trovare-email.png')"></div>
							<div class="articleBox__content">
								<h4 class="articleBox__content__title">COME TROVARE LA MAIL DI CHIUNQUE</h4>
								<p class="articleBox__content__description">Molto spesso dobbiamo contattare persone appartenenti a diverse aziende, riviste o organizzazioni, il metodo più veloce e più utilizzato è la mail. Non sempre però, la mail della persona interessata è così semplice da trovare. A volte non basta visitare il sito e andare nella sezione contatti. Esiste un metodo più efficace in questi casi:</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<a href="/interviews.html" class="btn btn-primary m-t-2">Guarda tuttle le interviste</a>
		</div>
	</section>

	<section class="container cta">
		<div class="row">
			<div class="col-lg-4 offset-lg-2">
				<h4 class="cta__title">Rimaniamo in contatto! Seguici sui nostri social</h4>
			</div>
			<div class="col-lg-6">
				<p class="cta__subTitle">Ogni settimana pubblichiamo novità e interviste dal nostro mondo.</p>
				<div class="social">
					<ul>
						<li><a href="https://www.facebook.com/Corptape"><img src="/assets/images/social/facebook.png" alt="icon facebook"></a></li>
						<li><a href="https://plus.google.com/u/1/b/107245543594857645981/107245543594857645981"><img src="/assets/images/social/googleplus.png" alt="icon google"></a></li>
						<li><a href="https://goo.gl/Ynu0oF"><img src="/assets/images/social/youtube.png" alt="icon youtube"></a></li>
						<li><a href="https://www.instagram.com/corptape"><img src="/assets/images/social/instagram.png" alt="icon instagram"></a></li>
					</ul>
				</div>
				<a href="#" data-toggle="modal" data-target="#newsLetter"><img src="/assets/images/icons/subscribe.png" class="icon-subscribe"> Iscriviti ora </a>
			</div>
		</div>
	</section>

	<section class="home__content__cit">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="home__content__cit__pic"></div>
				</div>
				<div class="col-lg-6">
					<h5 class="home__content__cit__title">Da una delle nostre interviste</h5>
					<div class="home__content__cit__text">
						<p>" Un coworking è un luogo dove tamte persone con personalità differenti condividono uno spazio, ma non solo, condividono opportunità di lavoro, passioni, momenti di condivisioni. che possono essere anche solo legati alla vita personale o professionale "
						</p>
						<p class="float-right bold">-Fabio Sferruzzi</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</div>
