<div class="home__content">
	<section class="home__content__interviews">
		<div class="container">
			<h3 class="home__content__title">Le nostre interviste</h3>
			<div class="owl-carousel">
				<iframe src="https://www.youtube.com/embed/NBOb_1T5Bbo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				<iframe  src="https://www.youtube.com/embed/P1SPy-rIlzw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				<iframe  src="https://www.youtube.com/embed/kiJoTBNfQc8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				<iframe  src="https://www.youtube.com/embed/8Qm5jtgVJqc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				<iframe  src="https://www.youtube.com/embed/aaPKSeTLMYU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				<iframe  src="https://www.youtube.com/embed/lppvVBz2zW0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</section>
	<section class="home__content__cta">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<h3 class="home__content__cta__title">Ciao sono il titolo</h3>
					<h4 class="home__content__cta__subTitle">Ciao sono il sottotitolo e sono un pò più lungo vedi?</h4>
					<a class="btn btn-secondary m-t-1">Button</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="home__content__articles">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 ">
					<div class="articleBox">
						<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog1.jpg')"></div>
						<div class="articleBox__content">
							<h3 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
							</h3>
							<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
							<a href="#" class="btn btn-primary articleBox__content__button">Leggi di più</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 ">
					<div class="articleBox">
						<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog3.jpg')"></div>
						<div class="articleBox__content">
							<h3 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
							</h3>
							<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
							<a href="#" class="btn btn-primary articleBox__content__button">Leggi di più</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 ">
					<div class="articleBox">
						<div class="articleBox__header" style="background-image: url('/assets/images/articles/blog2.jpg')"></div>
						<div class="articleBox__content">
							<h3 class="articleBox__content__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
							</h3>
							<p class="articleBox__content__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec. </p>
							<a href="#" class="btn btn-primary articleBox__content__button">Leggi di più</a>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</div>
