<div class="interviews__content">
	<div class="container text-center">
		<div class="row text-left">
			<div class="col-lg-4">
				<div class="videoBox load" >
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S3cBaCsNEgY?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Cos'è Erasmus For Young Entrepreneur?
						</h5>
						<p class="videoBox__content__subTitle">Erasmus for Young Entrepreneurs​ è un progetto di scambio tra imprenditori che ti permette di partire grazie alla tua idea imprenditoriale e trascorrere fino a 6 mesi presso un'azienda. Potrai scegliere tra 30 paesi nel mondo e avrai un rimborso spese per lo scambio. </p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/adwHq8H5ZoQ?list=PLzpir_ZDpyI7YJxlr6KZISMDkqMGZzxFh?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Che lavoro fai? CEO
						</h5>
						<p class="videoBox__content__subTitle">Marcello Bonora, Ceo di Amiko ci racconta cos'è un Ceo e cosa fa nello specifico. In questa intervista affrontiamo inoltre come si forma un CEO e le esperienze che ha vissuto che lo hanno portato a diventare il professionista che è oggi.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OhjVM-zEEvU?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Cos'è un bando?
						</h5>
						<p class="videoBox__content__subTitle">Cos'è un bando? Perché è un'opportunità per startup e piccole aziende? Come si trovano bandi? cosa si può vincere?</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load" >
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H5nnTj949ko?list=PLzpir_ZDpyI7YJxlr6KZISMDkqMGZzxFh&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Che lavoro fai? User Interface
						</h5>
						<p class="videoBox__content__subTitle">Teresa Stancarone racconta cos'è una/o User Interface, cosa significa fare il suo lavoro e come è arrivata a farlo. Percorso di studi e le esperienze che ha avuto sono stati cruciali nella sua carriera. Oggi lavora in Funix, una startup che sviluppa videogame come Hornythology.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lppvVBz2zW0?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Cos'è un Business Angel?
						</h5>
						<p class="videoBox__content__subTitle">Abbiamo intervistato alcuni dei Business Angel di Nestor che ci raccontano il loro campo di specializzazione, in che tipo di Startup investono e qual'è il loro approccio.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Qm5jtgVJqc?list=PLzpir_ZDpyI7YJxlr6KZISMDkqMGZzxFh&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Che lavoro fai? Project Manager
						</h5>
						<p class="videoBox__content__subTitle">Lavori del Business è la nostra rubrica che racconta i ruoli e lavori fondamentali nel mondo delle startup e del Business.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kiJoTBNfQc8?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Cos'è il Dropshipping?
						</h5>
						<p class="videoBox__content__subTitle">Abbiamo intervistato Lorenzo Savasta, Marketing Specialist di YouDroop.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NBOb_1T5Bbo?list=PLzpir_ZDpyI7YJxlr6KZISMDkqMGZzxFh&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Che lavoro fai? Marketing Manager
						</h5>
						<p class="videoBox__content__subTitle">Davide Leoncino, Marketing Manager di Adamo ci racconta il suo ruolo, cosa fa nello specifico, il suo percorso di studi per arrivare a svolgere il suo lavoro con professionalità e molto altro.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aaPKSeTLMYU?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h5 class="videoBox__content__title">Cos'è un Coworking?
						</h5>
						<p class="videoBox__content__subTitle">Ci stavamo chiedendo cosa fosse un coworking, così siamo andati a intevistare Fabio Sferruzzi, il CEO di Talent Garden Torino</p>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" id="loadMore">Load More</button>
	</div>
</div>

<section class="container cta">
	<div class="row">
		<div class="col-lg-4 offset-lg-2">
			<h4 class="cta__title">Rimaniamo in contatto! Seguici sui nostri social</h4>
		</div>
		<div class="col-lg-6">
			<p class="cta__subTitle">Ogni settimana pubblichiamo novità e interviste dal nostro mondo.</p>
			<div class="social">
				<ul>
					<li><a href="https://www.facebook.com/Corptape/"><img src="/assets/images/social/facebook.png" alt="icon facebook"></a></li>
					<li><a href="https://plus.google.com/u/1/b/107245543594857645981/107245543594857645981"><img src="/assets/images/social/googleplus.png" alt="icon google"></a></li>
					<li><a href="https://goo.gl/Ynu0oF"><img src="/assets/images/social/youtube.png" alt="icon youtube"></a></li>
					<li><a href="https://www.instagram.com/corptape"><img src="/assets/images/social/instagram.png" alt="icon instagram"></a></li>
				</ul>
			</div>
			<a href="#" data-toggle="modal" data-target="#newsLetter"><img src="/assets/images/icons/subscribe.png" class="icon-subscribe"> Iscriviti ora </a>
		</div>
	</div>
</section>
