<div class="interviews__content">
	<div class="container text-center">
		<div class="row text-left">
			<div class="col-lg-4">
				<div class="videoBox load" >
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NBOb_1T5Bbo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P1SPy-rIlzw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing managerasdasdsaasaSass
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kiJoTBNfQc8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager kjhkjhkjh jhkjkjh jdha
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load" >
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Qm5jtgVJqc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aaPKSeTLMYU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lppvVBz2zW0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NBOb_1T5Bbo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P1SPy-rIlzw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kiJoTBNfQc8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Qm5jtgVJqc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aaPKSeTLMYU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="videoBox load">
					<div class="videoBox__header embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lppvVBz2zW0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="videoBox__content">
						<h4 class="videoBox__content__title">Marketing manager
						</h4>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" id="loadMore">Load More</button>
	</div>
</div>
 <section class="interviews__content__cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h3 class="interviews__content__cta__title">Ti sono piaciute le nostre interviste?</h3>
				<h4 class="interviews__content__cta__subTitle">Potresti anche tu far parte di Corptape!</h4>
				<a class="btn btn-primary m-t-1">Contattaci</a>
			</div>
		</div>
	</div>
</section>
