<div class="container container--article">

	<h1 class="article__title">Alla ricerca del “modem” per il nostro ufficio</h1>

	<div class="article__author">
		<div class="article__author__pic" style="background-image: url(/assets/images/authors/marco.jpg)"></div>
		<h6 class="article__author__name"> Daniele</h6>
		<h6 class="article__author__category">| Interviste</h6>
		<h6 class="article__author__date">| 30 maggio, 2017</h6>
	</div>

	<p class="article__text">
		Ovunque andiamo è presente una rete per connettersi a internet, soprattutto all’estero, dove ogni attività commerciale fornisce il proprio canale di accesso alla rete, anche in Italia piano piano ci stiamo muovendo in questa direzione. Quando si avvia un’attività, però, non si può sempre fare affidamento agli hotspot disseminati per la città. Sarebbe bello lavorare con il proprio portatile al bar davanti a una bella tazza di caffè, ma quello di cui abbiamo bisogno per lavorare è di una connessione stabile che possiamo controllare completamente. Per fare questo servono due elementi essenziali: un provider che fornisca il servizio e l’hardware che ci permetta di usufruire del servizio. Oggi ci occupiamo di hardware.
	</p>

	<h2 class="article__title">Una prima, veloce ma fondamentale, divisione.</h2>

	<p class="article__text">
		Bisogna distinguere tra due apparati prima di tutto, in realtà molto spesso si acquistano apparati che svolgono entrambe le funzioni: il modem e il router. Ma facciamo un passo indietro, pensiamo alla rete internet come alla rete elettrica, casa nostra è come se fosse una città, riceve corrente ad alta tensione e ha bisogno di trasformarla in corrente alternata per distribuirla a tutti gli edifici che ne hanno bisogno. Gli edifici sono gli apparati collegati alla nostra rete locale.
	</p>

	<p class="article__text">
		Il modem è lo strumento che trasforma la rete ad alta tensione in corrente alternata, ha la funzione di collegamento tra la rete nazionale (network) e la rete locale. Il router ha la funzione di generare la rete locale, distribuisce internet a tutti gli edifici.
	</p>

	<p class="article__text">
		Quello su cui possiamo agire è solamente la rete locale. Per quanto riguarda il lato modem, è necessario verificare che la tipologia di connessione che ci raggiunge sia supportata dall’apparato. Quelli più recenti supportano tutte le tipologie di connessione.
	</p>

	<h2 class="article__title">Quali prodotti?</h2>

	<p class="article__text">
		Su amazon ci sono un’infinità di modelli, tra questi ce ne sono alcuni più indicati di altri, vediamo alcuni tra quelli che possono fare al caso vostro
	</p>

	<div class="row">
		<div class="col-lg-6 text-center">
			<img src="/assets/images/articles/D7000.png">
		</div>
		<div class="col-lg-6">
			<h5 class="article__title"><a href="https://www.amazon.it/gp/product/B00ZUDFA8E/ref=as_li_ss_tl?pf_rd_m=A2VX19DFO3KCLO&pf_rd_s=merchandised-search-top-2&pf_rd_r=5RZP4X7M3MCVG5KM2FFN&pf_rd_t=101&pf_rd_p=88655b2b-24cc-4903-a566-9cea4ce745ff&pf_rd_i=11419117031&linkCode=sl1&tag=corptapecom-21&linkId=0ef3b9d4a9ddb88bfb81b83ef4a875ed">NETGEAR D7000</a></h5>
			<p>Questo modello è davvero ottimale per i piccoli uffici, la sua principale particolarità è la possibilità di scegliere la potenza del segnale per la rete Wi-Fi. Inoltre ha un’uscità WAN che supporta la fibra ottica e 2 porte USB 3.0 che permettono di collegare hardware esterni come HDD e stampanti e averne un accesso condiviso con tutto l’ufficio.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<h5 class="article__title"><a href="https://www.amazon.it/dp/B01DW6Z2YM/ref=as_li_ss_tl?pf_rd_m=A2VX19DFO3KCLO&pf_rd_s=merchandised-search-2&pf_rd_r=9GMXK30W20JFGCJPEZM0&pf_rd_t=101&pf_rd_p=9cd0173e-cae4-442d-8844-537171b8a331&pf_rd_i=11419117031&linkCode=sl1&tag=corptapecom-21&linkId=b75547fd8e5147947c7b19ea05eca350">TP-Link Archer VR600</a></h5>
			<p>Questo modello è davvero ottimale per i piccoli uffici, la sua principale particolarità è la possibilità di scegliere la potenza del segnale per la rete Wi-Fi. Inoltre ha un’uscità WAN che supporta la fibra ottica e 2 porte USB 3.0 che permettono di collegare hardware esterni come HDD e stampanti e averne un accesso condiviso con tutto l’ufficio.</p>
			
		</div>
		<div class="col-lg-6 text-center">
			<img src="/assets/images/articles/VR600.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 text-center">
		<img src="/assets/images/articles/DSL-3782.jpg">
			
		</div>
		<div class="col-lg-6">
			<h5 class="article__title"><a href="https://www.amazon.it/dp/B00PVDM9H8/ref=as_li_ss_tl?pf_rd_m=A2VX19DFO3KCLO&pf_rd_s=merchandised-search-2&pf_rd_r=9GMXK30W20JFGCJPEZM0&pf_rd_t=101&pf_rd_p=9cd0173e-cae4-442d-8844-537171b8a331&pf_rd_i=11419117031&linkCode=sl1&tag=corptapecom-21&linkId=dd8d8106667417679741aef618b53147">D-Link DSL-3782</a></h5>
			<p>Questo modello è davvero ottimale per i piccoli uffici, la sua principale particolarità è la possibilità di scegliere la potenza del segnale per la rete Wi-Fi. Inoltre ha un’uscità WAN che supporta la fibra ottica e 2 porte USB 3.0 che permettono di collegare hardware esterni come HDD e stampanti e averne un accesso condiviso con tutto l’ufficio.</p>
		</div>
	</div>

	<h2 class="article__title">Come scegliere?</h2>
	
	<p class="article__text">
		Molte volte la tentazione di comprare il modello più bello è forte. Ma la verità è, nella maggior parte dei casi, che sono risorse sprecate inutilmente. Il mio consiglio è scegliere lo strumento che si avvicina di più alle nostre esigenze, non serve un astronave se la nostra unica necessità è navigare in rete. Per lo stesso motivo, il prezzo non deve essere l’unico fattore che ci guida, sarebbe spiacevole aver creato un limite di connettività per risparmiare pochi euro.
	</p>
	
	<div class="article__share">
		<i class="fa fa-share-alt-square" aria-hidden="true"></i>Share on
		<ul>
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=www.corptape.com"><img src="/assets/images/social/facebook.png"></a></li>
			<li><a href="https://plus.google.com/share?url=www.corptape.com"><img src="/assets/images/social/googleplus.png"></a></li>
		</ul>
	</div>
	
</div>