// BACKGROUNDS
.cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// ALIGMENTS
.vertical-center {
    display: flex;
    align-items: center;
}

// BLOCKS
section {
    @include padding(4em, null, 4em, null);
}

.social {
    @extend .vertical-center;
    @include margin(null, null, .6em, null);
    justify-content: flex-start;
    @media screen and (max-width: map-get($grid-breakpoints, lg)) {
        @include order(1);
        justify-content: center;
    }
    ul {
        @include margin(0, 0, 0, 0);
        @include padding(0, 0, 0, 0);
    }
    li {
        @include size(2em, 2em);
        @include margin(null, 1em, null, null);
        display: inline-block;
        position: relative;
        a {
            border-radius: 50%;
            &:after,
            &:before {
                @include size(2em, 2em);
                @include position(absolute, 0, 0, 0, 0);
                @include transition(.3s all);
                content: "";
                display: block;
                border-radius: 50%;
                border: 1px solid map-get($colors, white);
                background-color: transparent;
            }
            &:hover {
                &:after {
                    @include transform(scale(1.5));
                }
                &:before {
                    @include transform(scale(2));
                    opacity: 0;
                }
            }
        }
        img {
            @include size(2em, 2em);
        }
    }
}

.cta {
    @extend .vertical-center;
    @include padding(2em, 5em, null, 2em);
    @include background('../images/cta.png');
    position: relative;
    color: map-get($colors, white);
    a {
        color: map-get($colors, white);
    }
    &__title {
        line-height: 1.4;
    }
    .social {
        @include margin(null, NULL, 1EM, null);
    }
    .btn {
        @include size(30%, null);
    }
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        @include size(null, 15em);
    }
}

.box {
    position: relative;
    overflow: hidden;
    &--left {
        @include size(49.9%, 25em);
        @include background('../images/whatyourjob.jpg');
        position: relative;
        float: left;
        overflow: hidden;
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
            @include size(100%, null);
        }
        .overlay {
            @include position(absolute, null, 0, 100%, 0);
            @include size(100%, 0);
            @include transition(.5s ease);
            @include background('../images/whatyourjob-hover.png');
            overflow: hidden;
            @media screen and (max-width: map-get($grid-breakpoints, lg)) {
                @include size(null, 100%);
                @include position(null, null, null, 0, null);
            }
            .text {
                @media screen and (max-width: map-get($grid-breakpoints, lg)) {
                    @include size(71%, null);
                }
                @include position(absolute, 50%, null, null, 50%);
                @include transform(translate(-50%, -50%));
                color: map-get($colors, white);
                overflow: hidden;
            }
        }
        &:hover {
            .overlay {
                @include position(null, null, null, 0, null);
                @include size(null, 100%);
            }
        }
    }
    &--right {
        @include size(49.9%, 25em);
        @include background('../images/whatisthat.jpg');
        float: right;
        position: relative;
        overflow: hidden;
        .overlay {
            @include position(absolute, null, 0, 100%, 0);
            @include background('../images/whatisthat-hover.png');
            @include size(100%, 0);
            @include transition(.5s ease);
            overflow: hidden;
            @media screen and (max-width: map-get($grid-breakpoints, lg)) {
                @include size(null, 100%);
                @include position(null, null, null, 0, null);
            }
            .text {
                @include transform(translate(-50%, -50%));
                @include position(absolute, 50%, null, null, 50%);
                color: map-get($colors, white);
                overflow: hidden;
                @media screen and (max-width: map-get($grid-breakpoints, lg)) {
                    @include size(71%, null);
                }
            }
        }
        &:hover {
            .overlay {
                @include position(null, null, null, 0, null);
                @include size(null, 100%);
            }
        }
        @media screen and (max-width: map-get($grid-breakpoints, lg)) {
            @include size(100%, null);
        }
    }
}

.articleBox {
    @include transition(ease .1s);
    @include margin(null, null, 6em, null);
    border-radius: 5px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.01), 0 62px 52px 0 rgba(0, 0, 0, 0.04);
    background: map-get($colors, white);
    a {
        color: inherit;
    }
    &:hover {
        @include transform(translate(0, -8px));
    }
    &__header {
        @extend .cover;
        @include size(100%, 14em);
    }
    &__content {
        @include margin(1em, 1.6em, 1em, 1.6em);
        @include padding(null, null, 2em, null);
        &__title {
            @include size(null, 2.15em);
            @include margin(.8em, null, .8em, null);
            @include breakLine(2);
        }
        &__description {
            @include size(null, 7.5em);
            @include margin(1em, null, null, null);
            @include breakLine(5);
            color: map-get($colors, gray_1);
        }
        &__button {
            @include size(100%, null);
            @include margin(1em, null, null, null);
        }
    }
}

.videoBox {
    @include transition(ease .1s);
    @include margin(null, null, 6em, null);
    border: 1px solid #ededed!important;
    &:hover {
        @include transform(translate(0, -2px));
        
        box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.01), 0 62px 52px 0 rgba(0, 0, 0, 0.04);
        border: 0;
        background: map-get($colors, white);
    }
    &__header {
        @include size(100%, 14em);
        @media screen and (min-width: map-get($grid-breakpoints, lg)) {
            @include size(100%, 12em);
        }
    }
    &__content {
        @include margin(1em, 1.2em, null, 1.2em);
        @include padding(null, null, 2em, null);
        &__title {
            @include margin(null, null, .8em, null);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: map-get($colors, primary);
        }
        &__subTitle {
            @include size(null, 3.2em);
            @include breakLine(2);
            color: map-get($colors, gray_1);
        }
    }
}

// COLORS
.cl-primary {
    color: map-get($colors, primary);
}

// WEGHTS
.bold {
    font-weight: bold;
}

// FONTS
.font-paragraph-bigger {
    font-size: 1.2em;
}

// MAARGINS
.m-t-1 {
    @include margin(1em, null, null, null);
}

.m-t-2 {
    @include margin(2em, null, null, null);
}

.m-b-1 {
    @include margin(null, null, 1em, null);
}

.m-b-2 {
    @include margin(null, null, 1em, null);
}

// ICONS
.icon-subscribe {
    @include size(1.5em, null);
    @include margin(-.1em, .5em, null, null);
}

// LOAD CLASS FOR LOAD MORE BUTTON
.load {
    display: none;
}

// UNDERLINES
.underline {
    border-bottom: 1px solid #000;
}
