<div class="hero hero--contacts">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 hero__box offset-lg-4 text-center  animated rotateInDownLeft" >
				<h1 class="hero--contacts__title">Contattaci</h1>
				<a href="#" class="btn btn-secondary"><i class="fa fa-facebook" aria-hidden="true"></i>acebook </a>
				<a href="#" class="btn btn-secondary">Email <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
				<form id="contact" action="/contact.php" method="post">
				    Your name<br>
				    <input id="name" type="text" name="cf_name"><br>
				    Your e-mail<br>
				    <input id="email" type="text" name="cf_email"><br>
				    Message<br>
				    <textarea id="message" name="cf_message"></textarea><br>
			
				    {{!-- <input type="submit" value="Send" id="submit"> --}}
				    <button 
						class="g-recaptcha"
						data-sitekey="6LfkxyYUAAAAAJEY_fulvESQk81aKeWhF2qN9wAk"
						data-callback="onSubmit">
						Submit
					</button>
				</form>
			</div>
		</div>			
	</div>
</div>