<div class="hero hero--contacts">
	<div class="container">
		<a href="#" class="btn btn-secondary"><i class="fa fa-facebook" aria-hidden="true"></i>acebook </a>
		<a href="#" class="btn btn-secondary">Email <i class="fa fa-envelope-o" aria-hidden="true"></i></a>		
	</div>
</div>
