<div class="hero hero--home">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1 class="hero__title">Corptape</h1>
				<h3 class="hero__subTitle">Rivista startup, teach e digital</h3>
				<p class="hero__description">Raccontiamo le storie di startup e aziende<br> attraverso video-interviste dedicate</p>
				<a href="#" data-toggle="modal" data-target="#newsLetter"><img src="/assets/images/icons/subscribe.png" class="icon-subscribe"> Iscriviti ora </a>
			</div>
		</div>
	</div>
</div>
