<div class="hero hero--interviews">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h1 class="hero__title">Corptape</h1>
				<h3 class="hero__subTitle">Interviste</h3>
				<p class="hero__description">Raccontiamo le storie di startup e aziende<br> attraverso video-interviste dedicate</p>
			</div>
			<div class="col-lg-5 hero--interviews__video">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P1SPy-rIlzw?list=PLzpir_ZDpyI6TsWRZ7PrEPy2OALXdKlVY?rel=0;showinfo=0" allowfullscreen></iframe>
				</div>
			</div>
		</div>			
	</div>
</div>
